/* cafedatail -> calendar CSS */
*,
*::after,
*::before {
    box-sizing: border-box;
}
.title {
    color: #db5b33;
    font-weight: 300;
    text-align: center;
}

/* Calendar */
.calendar {
    --calendar-width: 360px;
    --calendar-grid-item-size: calc((var(--calendar-width) - 10px) / 7);
    --calendar-font-size: calc(var(--calendar-width) * 0.04);
    --calendar-primary-color: #43c37a;

    width: var(--calendar-width);
    box-shadow: 1px 1px 20px 0 rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    padding: 0 5px 5px;
    font-size: var(--calendar-font-size);
    display: none;
}
.calendar-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    margin: -5px;
    margin-bottom: 0;
    background-color: var(--calendar-primary-color);
    color: #fff;
    border-radius: 10px 10px 0 0;
}
.calendar-nav > .calendar-title {
    text-align: center;
    color: #fff;
}
.calendar-nav > .calendar-title > .month {
    font-size: 1.4em;
}
.calendar-nav > .prev,
.calendar-nav > .next {
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    font-size: 1.8em;
    cursor: pointer;
    color: #fff;
}
.calendar-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}
.calendar-grid > .day,
.calendar-grid > div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: var(--calendar-grid-item-size);
}
.calendar-grid > .day {
    color: rgba(0, 0, 0, 0.3);
    text-transform: uppercase;
}
.calendar-grid > div:not(.day) {
    cursor: pointer;
    border-radius: 50%;
    transition: background-color 0.2s;
}
.calendar-grid > .sunday {
    color: red;
}
.calendar-grid > .muted {
    color: rgba(0, 0, 0, 0.3);
}
.calendar-grid > .today {
    border: 1px solid var(--calendar-primary-color);
}
.calendar-grid > div:not(.day):hover,
.calendar-grid > .selected,
.calendar-grid > .selected.muted {
    color: #fff;
    background-color: var(--calendar-primary-color);
}

.date-picker {
    width: 180px;
    margin: 20px auto;
}
.date-picker > .date-picker-selector {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 3px;
    border: 1px solid #ccc;
    background: #fff;
}