/* ----------------- reset css -------------------- */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section{
	display: block;
}
body{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: small;
	line-height: 1;
}
ol, ul{
	list-style: none;
}
blockquote, q{
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after{
	content: '';
	content: none;
}
table{
	border-collapse: collapse;
	border-spacing: 0;
}
button{
    border: 0;
    background: transparent;
}
/* COMMON */
.visually-hidden{
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}
.page-wrapper{
    max-width: 930px;
    margin: 0 auto;
    padding: 20px;
}
/* ----------------- header -------------------- */
.header-container{
    background: transparent;
    padding: 20px 0;
    box-shadow: 0 3px 5px rgba(176, 176, 176, .7);
}
.header-wrapper{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding: 10px 20px;
    position: relative;
}
.header-wrapper h1 a{
    text-decoration: none;
    color: #484848;
    font-size: x-large;
    font-weight: 800 ;
}
.search-form{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 180px;
    transform: translate(-50%, -50%);
}
.search-form input{
    background: transparent;
    border: 0;
    border-bottom: 1px solid rgb(176, 176, 176);
    box-sizing: border-box;
    box-shadow: 0 1px rgb(176, 176, 176);
    padding-left: 10px;
    padding-bottom: 5px;
    outline: none;
    width: 100%;
    color: #434343;
}
.logged-in-user-status{
    color:rgb(176, 176, 176);
    font-size: small;
    padding: 10px;
}
.mobile-menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    transition: all 2s;
}
#mobile-menu{
    width: 80px;
    display: flex;
    justify-items: baseline;
    justify-content: space-around;
    background-color: rgba( 200, 200, 200, .3);
    border-radius: 21px / 21px;
    padding: 15px 5px 0 5px;
    cursor: pointer;
}
#mobile-menu i{
    width: 30px;
    height: 30px;
}
#mobile-menu-profile-img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    transform: translate(-25%, -25%);
}
.body-background{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: none;
}

.header-nav-menu-container{
    box-sizing: border-box;
    display: none;
    position: absolute;
    width: 130px;
    top: 70px;
    right: 25px;
    box-shadow: 1px 1px 5px 1px black;
    border-radius: 5px;
    background: #fff;;
}
.header-nav-menu-list{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 100%;
}
.header-nav-menu-list li{
    box-sizing: border-box;
    width: 100%;
    height: 70%;
    padding: 15px 10px;
}
.header-nav-menu-list li:hover{
    background: rgba(176, 176, 176, .3);
}
.header-nav-menu-list a{
    text-decoration: none;
    color: #484848;
    width: 100%;
    height: 100%;
    display: block;
    /* padding: 15px 10px; */
}
.header-nav-menu-list li:nth-of-type(1){
    margin-top: 5px;
}
.header-nav-menu-list li:nth-last-of-type(1){
    margin-bottom: 5px;
}
.body-background.mobile-open{
    display: block;
    z-index: 0;
}
.mobile-open{
    display: block;
    z-index: 9999;
}
/* ----------------- index.html -------------------- */
.visual-wrapper{
    margin: 0 auto;
    width: 100%;
    height: 700px;
    background: center no-repeat url(./images/visual-banner.jpg);
    background-position: top;
    background-size: cover;
    box-shadow: 0 -3px 5px rgba(176, 176, 176, .7);
}
.index-page-wrapper  h2{
    font-style: bold;
    font-size: medium;
    border-bottom: 1px solid black;
    padding-bottom: 5px;
    display: inline-block;
}
.index-cafe-list{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.index-cafe-list li:hover{
    background-color: rgba( 200, 200, 200, .3);
    /* box-shadow: inset 0 0 0 2px rgba(0,0,0,0.7); */
    /* changed from border to box-shadow to avoid movement of elements upon hover */
    /* border: 2px solid rgba(0,0,0,0.7) */
}
.cafe-item-wrapper{
    margin-top: 20px;
    width: 250px;
    height: 250px;
    border-radius: 10px;
    border: 1px solid rgba(0,0,0,0.3);
    z-index: 9999;
    background-color: transparent;
}
.cafe-item-wrapper a{
    text-decoration: none;
    color: black;
    width: 100%;
    height: 100%;
}
.cafe-item-wrapper img{
    margin: 0 auto;
    box-sizing: border-box;
    width: 100%;
    height: 220px;
    border-radius: 10px 10px 0 0;
    z-index: -99;
    object-fit: cover;
    overflow-x: hidden;
}
.cafe-info-details{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cafe-info-details li{
    padding: 5px;

}
.cafe-info-details li:hover{
    background-color: transparent;
}
/* ------- Login, Personal User and Business User Common------- */
.auth-page-wrapper{
    position: relative;
}
.auth-form-container{
    margin: 0 auto;
    margin-top: 50px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    border: 1px solid rgb(176, 176, 176);
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    box-shadow: 3px 3px 3px rgb(176, 176, 176);
}
.auth-form-header{
    margin: 20px 0;
    font-size: medium;
}
.auth-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.auth-input-controls{
    width: 100%;
    position: relative;
    box-sizing: border-box;
}
.auth-labels{
    position: absolute;
    top: 15px;
    margin-left: 20px;
    font-size: large;
    color: rgb(176, 176, 176)
}
.auth-input-focused{
    font-size: small;
    top: 7px;
}
.auth-input-items{
    outline: none;
    box-sizing: border-box;
    border: 1px solid rgb(176, 176, 176);
    padding-top: 20px;
    padding-left: 20px;
    width: 100%;
    height: 50px;
}
.auth-error-msg.error-msg{
    position: absolute;
    width: 40%;
    height: 100%;
    top: 10px;
    right: 5px;
    text-align: right;
    color: #d80a63;
}
.auth-submit-buttons{
    background: #d80a63;
    box-sizing: border-box;
    text-decoration: none;
    color: #fff;
    font-size: small;
    border-radius: 5px;
    padding: 10px 5px;
    width: 100%;
    height: 50px;
    text-align: center;
    margin-top: 15px;
    cursor: pointer;
}
.auth-submit-buttons.disabled{
    pointer-events: none;
    background: #d80a63;
    opacity: .7;
}
/* label in lieu of placeholder for auth forms */

/* ----------------- login.html -------------------- */
#login-name{
    border-radius: 8px 8px 0 0;
    border-bottom: transparent;

}
#login-password{
    border-radius: 0 0 8px 8px;
}

/* ----------------- personal_signup.html -------------------- */
/* ----------------- business_signup.html -------------------- */
.pu-signup-inputs,
.bu-signup-inputs{
    border-bottom: none;
}
#signup-name{
    border-radius: 8px 8px 0 0 ;
}
#signup-password-check{
    border-bottom: 1px solid rgb(176, 176, 176);
    border-radius: 0 0 8px 8px;
}
/* ----------------- forgot id/pw link  -------------------- */
.html-wrapper{
    max-width: 930px;
    margin: 0 auto;
    padding: 20px;
    position: relative;
}
.idpw-search-container{
    width: 100%;
    margin-top: 15px;
    display: flex;
    justify-content: space-around;
}
.idpw-search-container a{
    font-size: x-small;
    color: rgb(140, 140, 140);
}
/* ----------------- social logins-------------------- */
.social-login-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 20px;
    position: relative;
}
.social-login-wrapper{ 
    box-sizing: border-box;
    text-decoration: none;
    color: #191919;
    font-size: small;
    border-radius: 5px;
    padding: 10px 5px;
    width: 100%;
    text-align: center;
    box-shadow: rgb(176, 176, 176) 0px 0px 0px 1px inset;  
}
.social-login-wrapper:nth-child(2){
    margin-top: 20px;
}
.social-login-wrapper:hover{
    box-shadow: rgb(0, 0, 0) 0px 0px 0px 2px inset;
}
.fa-comment, .fa-google{
    position: absolute;
    left: 20px;
}

/* ----------------- IdPwSearch.html-------------------- */
.idpw-search-main-container{
    display: block;
    margin-left: 37%;
    margin-right: auto;
    width: 50%;
}
.search-list {
    display: flex;
    flex-direction: row; 
    flex-wrap: nowrap;
    margin: 20px 10px;
}

.search-list > li {
    display: block;
    padding: 5px 10px;
    text-align: center;
    border-radius: 5px 5px 0px 0px;
    border:1px solid gray;
    opacity: 0.8;
}

.search-list > li.active {
    border:2px solid rgb(0, 0, 0);
    opacity: 1;
}

.idpw-search-body{
    flex-wrap: wrap;
    margin-left: 0px;
    display: inline-block;
    padding: 20px;
}
.idpw-search-body > section{
    display: none;
}
.idpw-search-body > section.active{
    display: inline-block;
}
.id-search-header, .pw-search-header{
    width: 100%;
    font-size: large;
    text-align: center;
    padding-bottom: 20px;
}
.id-search-email-block, .pw-search-email-block, .pw-search-username-block{
    font-size: large;
}
.id-search-email-block > label, .pw-search-email-block > label, .pw-search-username-block > label{
    width: 200px;
    text-align: left;
    display: inline-block;
}
.id-search-email-block > input, .pw-search-email-block > input, .pw-search-username-block > input{
    font-size: medium;
    margin-bottom: 10px;
}


.auth-labels{
    position: absolute;
    top: 15px;
    margin-left: 20px;
    font-size: large;
    color: rgb(176, 176, 176)
}
.auth-input-items{
    outline: none;
    box-sizing: border-box;
    border: 1px solid rgb(176, 176, 176);
    padding-top: 20px;
    padding-left: 20px;
    width: 100%;
    height: 50px;
}
.auth-input-focused{
    font-size: small;
    top: 7px;
}
.search-submit-button{
    background: #d80a63;
    box-sizing: border-box;
    text-decoration: none;
    color: #fff;
    font-size: medium;
    border-radius: 5px;
    padding: 10px 5px;
    width: 100%;
    height: 50px;
    text-align: center;
    margin-top: 15px;
    cursor: pointer;
}




/* ----------------- PUprofile.html-------------------- */
.page-wrapper.pu-mypage-container{
    margin: 20px auto;
    padding: 0;
    border: 1px solid rgb(176, 176, 176);
    border-radius: 5px;
    position: relative;
    height: 700px;
}
.pu-page-headers{
    font-weight: bold;
    font-size: small;
    box-sizing: border-box;
    padding: 25px 45px;
    width: 250px;
    cursor: pointer;
    margin: 0;
}
.pu-page-headers:hover{
    /* border-left: 3px solid rgb(140, 140, 140); */
    box-shadow: inset 3px 0px rgb(176, 176, 176);
    background-color: rgba(200, 200, 200, .2);
}
.pu-page-headers.selected{
    box-shadow: inset 3px 0px #434343;
    background-color: transparent;
}
.pu-page-contents{
    position: absolute;
    top: 0px;
    left: 250px;
    width: 680px;
    height: 100%;
    display: block;
    box-sizing: border-box;
    border-left: 1px solid rgb(176, 176, 176);
    padding: 20px 40px;
}
/* 1st tab: EDIT PROFILE  */
.pu-profile-contents{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px 20px;
}
/* profile image div */
.user-profile-info-wrapper{
    position: relative;
    width: 50%;
}
.user-profile-info-wrapper > span{
    display: block;
    font-size: small;
    font-weight: bold;
}
.user-profile-info-wrapper > label{
    position: absolute;
    left: -20px;
    transform: translate(-100%, -50%);
}
.profile-photo{
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
    cursor: pointer;
}
#change-photo{
    position: absolute;
    left: -10px;
    transform: translate(-100%, -50%);
}
.user-profile-edit-form{
    position: relative;
    width: 50%;
}
.edit-control{
    position: relative;
    width: 100%;
    padding: 15px 0;
}
.user-profile-edit-form > .edit-control:nth-of-type(1) > label{
    position: absolute;
    transform: none;
    margin-left: 10px;
    top: 0;
    font-size: xx-small;
    cursor: pointer;
    color: #d80a63;
}
.edit-control > label{
    position: absolute;
    left: -20px;
    transform: translate(-100%);
    padding: 10px;
    font-size: small;
    font-weight: bold;
    word-wrap: normal;
}
.edit-control > input{
    box-sizing: border-box;
    border: 1px solid rgb(176, 176, 176);
    border-radius: 3px;
    width: 100%;
    padding: 10px 0px 10px 10px;
}
.profile-edit-submit{
    background: #d80a63;
    text-decoration: none;
    box-sizing: border-box;
    color: #fff;
    font-size: small;
    border-radius: 3px;
    border: 1px solid #d80a63;
    width: 100%;
    padding: 10px 10px 10px 10px;
    text-align: center;
    cursor: pointer;
}

/* 2nd tab: CHANGE PASSWORD */
.pu-password-contents{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px 20px;
    position: absolute;
}
.user-profile-info-wrapper{
    position: relative;
    width: 50%;
}
.profile-photo{
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
    cursor: pointer;
}
#profile-pw-photo{
    position: absolute;
    left: -31px;
    transform: translate(-100%, -50%);
    cursor: none;
}
.user-password-edit-form{
    margin-top: 30px;
    position: relative;
    width: 50%;
}
.edit-control{
    position: relative;
    width: 100%;
    padding: 15px 0;
}
.edit-control > label{
    position: absolute;
    left: -20px;
    transform: translate(-100%);
    padding: 10px;
    font-size: small;
    font-weight: bold;
    word-wrap: normal;
}
.edit-control > input{
    box-sizing: border-box;
    border: 1px solid rgb(176, 176, 176);
    border-radius: 3px;
    width: 100%;
    padding: 10px 0px 10px 10px;
}
.profile-edit-submit{
    background: #d80a63;
    text-decoration: none;
    box-sizing: border-box;
    color: #fff;
    font-size: small;
    border-radius: 3px;
    border: 1px solid #d80a63;
    width: 100%;
    padding: 10px 10px 10px 10px;
    text-align: center;
    cursor: pointer;
}
.profile-edit-submit.disabled{
    pointer-events: none;
    background: #d80a63;
    opacity: .7;
}

/* BOTTOM LEFT: accounts information section */
.pu-accounts-wrapper{
    position: absolute;
    bottom: 0;
    box-sizing: border-box;
    border-top: 1px solid rgb(176, 176, 176);
    width: 250px;
    height: 150px;
    display: flex;
    flex-direction: column;
}
.pu-accounts-header{
    position: relative;

}
.pu-accounts-header:hover{
    cursor: none;
    box-shadow: none;
    background-color: transparent;

}
.pu-accounts-contents{
    border: none;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 40px;
    left: 0;
    box-sizing: border-box;
    flex-wrap: wrap;
    padding: 20px 45px;
}



/* ----------------- BUprofile.html-------------------- */
.page-wrapper.bu-mypage-container{
    margin: 20px auto;
    padding: 0;
    border: 1px solid rgb(176, 176, 176);
    border-radius: 5px;
    position: relative;
    height: 700px;
}
.bu-page-headers{
    font-weight: bold;
    font-size: small;
    box-sizing: border-box;
    padding: 25px 45px;
    width: 250px;
    cursor: pointer;
    margin: 0;
}
.bu-page-headers:hover{
    /* border-left: 3px solid rgb(140, 140, 140); */
    box-shadow: inset 3px 0px rgb(176, 176, 176);
    background-color: rgba(200, 200, 200, .2);
}
.bu-page-headers.selected{
    box-shadow: inset 3px 0px #434343;
    background-color: transparent;
}
.bu-page-contents{
    position: absolute;
    top: 0px;
    left: 250px;
    width: 680px;
    height: 100%;
    display: block;
    box-sizing: border-box;
    border-left: 1px solid rgb(176, 176, 176);
    padding: 20px 40px;
}


/* 1st tab: BUSINESS PROFILE  */
.bu-profile-contents{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px 20px;
}


/* 2nd tab: MANAGE CAFE */
.bu-manage-content{
    overflow-x: hidden;
    overflow-y: scroll;
    width: 680px;
    min-width: 520px;
}
.owner-cafe-list{
    display: flex;
    flex-direction: column;
    padding: 0;
    width: 100%;
}
.owner-cafe-item-wrapper{
    box-sizing: border-box;
    margin: 20px 0;
    width: 100%;
    height: 230px;
    border-radius: 10px;
    position: relative;
}
.owner-cafe-item-wrapper a{
    position: absolute;
    top: 0;
    left: 0;
    text-decoration: none;
    color: black;
    width: 100%;
    height: 100%;
}
.owner-cafe-item-wrapper a:hover{
    background-color: rgba(176,176,176,.3);
    border-radius: 10px;
}
.owner-cafe-item-wrapper img{
    box-sizing: border-box;
    width: 230px;
    height: 230px;
    border-radius: 10px;
    z-index: -99;
    object-fit: cover;
    overflow-x: hidden;
}
.owner-cafe-item-desc{
    position: absolute;
    margin-left: 20px;
    width: 100%;
    height: 100%;
    top: 0;
    left: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.owner-cafe-item-desc li{
    box-sizing: border-box;
    width: calc(100% - 270px);
    padding: 3px;
}
.owner-cafe-item-desc :nth-child(1){
    font-size: large;
    font-weight: bold;
    border-bottom: 2px solid rgb(140,140,140);
    padding-bottom: 5px;
}


/* BOTTOM LEFT: accounts information section */
.bu-accounts-wrapper{
    position: absolute;
    bottom: 0;
    box-sizing: border-box;
    border-top: 1px solid rgb(176, 176, 176);
    width: 250px;
    height: 150px;
    display: flex;
    flex-direction: column;
}
.bu-accounts-header{
    position: relative;
}
.bu-accounts-header:hover{
    cursor: none;
    box-shadow: none;
    background-color: transparent;
}
.bu-accounts-contents{
    border: none;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 40px;
    left: 0;
    box-sizing: border-box;
    flex-wrap: wrap;
    padding: 20px 45px;
}


/* ----------------- cafedetail.html-------------------- */
.cafedetail-page-wrapper{
    display: flex;
}
.cafedetail-navigation-wrapper{
    display: flex;
    flex-direction: column;
}
.cafedetail-navigation-wrapper nav{
    width: 680px;
    background-color: #fff;
    position: sticky;
    top: 0;
}
.cafe-detail-nav li{
    width: 150px;
    display: inline-block;
    font-size: medium;
    font-weight: bold;
    text-align: center;
    border: 1px solid rgb(176, 176, 176);
    border-radius: 10px 10px 0 0;
    padding: 10px;
    margin-right: 10px;
    background-color: #fff;
}
.cafe-detail-nav li:hover{
    background-color: rgba(176,176,176,.3);
    box-shadow: inset  0 0 2px 5px rgba(176, 176, 176,0.3);
}
.cafe-detail-wrapper {
    height: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
}
.cafe-detail-wrapper h3{
    font-size: medium;
    font-weight: bold;
    padding-bottom: 5px;
    margin-bottom: 5px;
    display: inline-block;
}
.cafe-hours-wrapper h4{
    font-weight: bold;
    padding: 5px 0;
    margin-bottom: 5px;
}
.facility-items-wrapper{
    display: flex;
}
.facility-items img{
    width: 50px;
    height: 50px;
}

/* cafe reservation box */
.cafe-booking-wrapper{    
    position: sticky;
    top: 0;
    width: 250px;
    height: 350px;
    border: 1px solid rgb(176, 176, 176);
    border-radius: 10px 10px 0 0;
}
.cafe-booking-wrapper h3{
    border-bottom: 1px solid rgb(176, 176, 176);
    font-size: medium;
    font-weight: bold;
    text-align: center;
    padding: 10px;
}
.booking-form-wrapper{
    display: flex;
    flex-direction: column;
    padding: 5px;
}