/* HIDDEN CONTENTS */
.a11y-hidden, legend{
    background-color: red;
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    clip-path: polygon(0 0, 0 0, 0 0);
}
body {
    padding: 0 20px;
}
/* HEADER */
.header{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}