/* ----------------- reset css -------------------- */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    font-family: 'Noto Sans KR', sans-serif;
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

button {
    border:0;
    background: transparent;
}
.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }
/* ----------------- header -------------------- */
.header-container {
    background: transparent;
    padding: 20px 0;
    box-shadow: 0 3px 5px rgba(176, 176, 176, .7);
}
.header-wrapper {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 10px 20px;
    position: relative;
}
.header-wrapper h1 a {
    text-decoration: none;
    color: #484848;
}
.search-form {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 180px;
    transform: translate(-50%, -50%);
}
.search-form input {
    background: transparent;
    border: 0;
    border-bottom: 1px solid rgb(176, 176, 176);
    box-sizing: border-box;
    box-shadow: 0 1px rgb(176, 176, 176);
    padding-left: 10px;
    padding-bottom: 5px;
    outline: none;
    width: 100%;
    color: #434343;
}
.header-nav-menu-container {
    box-sizing: border-box;
    display: none;
    position: absolute;
    width: 130px;
    top: 40px;
    right: 25px;
    box-shadow: 1px 1px 5px 1px black;
    border-radius: 5px;
    background: #fff;;
}
.header-nav-menu-list {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 100%;
}
.header-nav-menu-list li {
    box-sizing: border-box;
    width: 100%;
    height: 70%;
    border-radius: 5px;
    padding: 20px 10px;
}
.header-nav-menu-list li:hover {
    background: rgba(176, 176, 176, .3);
}
.header-nav-menu-list a {
    text-decoration: none;
    color: #484848;
}

.mobile-menu {
    transition: all 2s;
}
.mobile-open {
    display: block;
    z-index: 9999;
}

/* ----------------- index.html -------------------- */
.visual-wrapper{
    margin: 0 auto;
    width: 100%;
    height: 700px;
    background: center no-repeat url(./images/johnson-wang-iI4sR_nkkbc-unsplash.jpg);
    background-position: top;
    background-size: cover;
    box-shadow: 0 -3px 5px rgba(176, 176, 176, .7);
}
.user-info-wrapper, 
.cafe-wrapper{
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}
.cafe-wrapper h3 {
    font-style: bold;
    font-size: large;
    border-bottom: 1px solid black;
    padding-bottom: 5px;
    display: inline-block;
}
.cafe-content-list {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.cafe-content-list li{
    border-radius: 10px;
    border: 1px solid rgba(0,0,0,0.3)
}
.cafe-content-list li:hover{
    box-shadow: inset 0 0 0 2px rgba(0,0,0,0.7);
    /* changed from border to box-shadow to avoid movement of elements upon hover */
    /* border: 2px solid rgba(0,0,0,0.7) */
}
.cafe-content-list button {
    width: 100%;
    height: 100%;
    padding: 50px;
    border:0;
    background: transparent;
}

/* ----------------- login.html -------------------- */
.login-page-wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    position: relative;
    height: 500px;
}
.login-form-container {
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid rgb(176, 176, 176);
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    box-shadow: 3px 3px 3px rgb(176, 176, 176);
}
.login-form-header {
    margin: 20px 0;
}
.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.input-control{
    width: 100%;
    position: relative;
}
.login-placeholder{
    position: absolute;
    top: 15px;
    margin-left: 10px;
    font-size: large;
    color: rgb(176, 176, 176)
}
.login-items {
    box-sizing: border-box;
    border: 1px solid rgb(176, 176, 176);
    outline: none;
    padding-left: 10px;
    width: 100%;
    height: 50px;
}
#login-name{
    border-radius: 8px 8px 0 0 ;
}
#login-password{
    border-radius: 0 0 8px 8px;
    border-top: none;
}

/* on focus and on click  */
/* outline */
/* label reduced and placed on top */

.login-submit-button{
    background: #d80a63;
    box-sizing: border-box;
    text-decoration: none;
    color: #fff;
    font-size: small;
    border-radius: 5px;
    padding: 10px 5px;
    width: 100%;
    height: 50px;
    text-align: center;
    margin-top: 15px;
}
.idpw-search-container{
    width: 100%;
    margin-top: 15px;
    display: flex;
    justify-content: space-around;
}
.idpw-search-container a{
    font-size: x-small;
    color: rgb(140, 140, 140);
}
.social-login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 20px;
    position: relative;
}
.social-login-wrapper{ 
    box-sizing: border-box;
    text-decoration: none;
    color: #191919;
    font-size: small;
    border-radius: 5px;
    padding: 10px 5px;
    width: 100%;
    text-align: center;
    box-shadow: rgb(176, 176, 176) 0px 0px 0px 1px inset;  
}
.social-login-wrapper:nth-child(2){
    margin-top: 20px;
}
.social-login-wrapper:hover{
    box-shadow: rgb(0, 0, 0) 0px 0px 0px 2px inset;
}
.fa-comment, .fa-google {
    position: absolute;
    left: 20px;
}