<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% load socialaccount %}
    {% providers_media_js %}

    <h1>Login Page</h1>
    {% if user.is_authenticated %}
    <form action="{% url 'userinfo:logout' %}" method="POST">
        {% csrf_token %}
        <button type="submit">로그아웃</button>
    </form>
    {{user.username}} 님이 로그인 중
    <a href="{% url 'userinfo:BUprofile' user.pk %}">마이페이지</a><br>
    <a href="{% url 'studycafe:cafelist' %}">카페 리스트 보기</a>
    {% else %}
    <a href="{% provider_login_url 'kakao'  %}">카카오 로그인</a>
    <br>
    <a href="{% provider_login_url 'google' %}">구글 로그인</a>
    {% endif %}
</body>
</html>