<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>박도비프로젝트</title>
    {% load static %}
    <!-- css link -->
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <!-- javascript link -->
    <script defer src="{% static 'app.js' %}"></script>
    <!-- fontawesome cdn link-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css"/>
    <!-- google fonts link -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500&display=swap" rel="stylesheet">


    {% block head %}{% endblock head%}
</head>
<body>
{% block content %}

{% endblock content %}
</body>
</html>