{% extends 'base.html' %} {% load static %}
{% block head %}
<title>Edit Business Profile | Dobby is Park</title>
<!-- javascript link -->
<script defer src="../static/src/bu_profile.js"></script>
{% endblock head%}
{% block content %}
{% include 'header-nav.html' %}


<section class="page-wrapper bu-mypage-container">
    <h2 class="visually-hidden">Business User My Page</h2>
    <section class="bu-profile-wrapper">
        <h3 class="bu-page-headers bu-tab-option bu-profile-header selected">Business Profile</h3> 
        <article class="bu-page-contents bu-profile-content">
            <h4 class="visually-hidden">비즈니스 유저 정보 변경 페이지</h4>
            <div class="bu-profile-info-wrapper">
                <span>{{buser.name}}</span>
                <i class="fas fa-crown"></i>
            </div>
            <form class="bu-profile-edit-form" action="{% url 'BUedit' user.pk %}" method="POST">
                {% csrf_token %}
                <div class="bu-edit-control">
                    <label for="user_name">Username</label>
                    <input type="text" id="user_name" name="user_name" value="{{buser.user}}">
                </div>     
                <div class="bu-edit-control">
                    <label for="email">Email</label>
                    <input type="text" id="email" name="email" value="{{buser.user.email}}">
                </div> 
                <button type="submit">수정하기</button>
            </form>
        </article>
    </section>
    <section class="bu-manage-wrapper">
        <h3 class="bu-page-headers bu-tab-option bu-manage-header ">Manage Cafe</h3>
        <article class="bu-page-contents bu-manage-content visually-hidden">
            <ul class="owner-cafe-list">
            {% for cafe in buser.studycafe.all %}
                {% if cafe.is_deleted == False %}
                <li class="owner-cafe-item-wrapper">
                    <a href="{% url 'cafedetail' cafe.pk %}">
                        <img src="{{cafe.representative_img}}" alt="{{cafe.name}}">
                        <ul class="owner-cafe-item-desc">
                            <li>{{cafe.name}}</li>
                            <li>{{cafe.address}}</li>
                        </ul>
                    </a>
                </li>
                <form action="{% url 'cafedelete' cafe.pk%}">
                    <button type="submit">카페 삭제하기</button>
                </form>
                {% endif %}
            {% if forloop.last %}
                <li class="owner-cafe-item-wrapper">
                    <a href="{% url 'cafeupload' user.pk %}">
                        <img src="https://django-s3-cj.s3.ap-northeast-2.amazonaws.com/addCafeImage.png" alt="Add another new cafe link image">
                        <span class="owner-cafe-item-desc">Host another Cafe</span>
                    </a>
                </li>
            {% endif %}
            {% empty %}
                <li class="owner-cafe-item-wrapper">
                    <a href="{% url 'cafeupload' user.pk %}">
                        <img src="https://django-s3-cj.s3.ap-northeast-2.amazonaws.com/addCafeImage.png" alt="Add new cafe link image">
                        <span class="owner-cafe-item-desc">Host your Cafe</span>
                    </a>
                </li>
            {% endfor%}
            </ul>
        </article>
    </section>
    <section class="bu-reviews-wrapper">
        <h3 class="bu-page-headers bu-tab-option bu-reviews-header">Reviews/Feedback</h3>
        <article class="bu-page-contents bu-reviews-content visually-hidden">
        {% for review in target_reviews %}
            <div class="review-per-cafe-wrapper">
            {% for detail in review %}
            {% if forloop.first %}
            <ul>{{detail.studycafe}}</ul>
            {% endif%}
                <li class="review-contents">
                    <span>{{detail.writer}}</span> 
                    wrote
                    <span>"{{detail.content}}"</span>
                    on 
                    <span>{{detail.created_at}}</span>
                </li>
            {% endfor %}
            </div>
        {% endfor %}
        {% for cafe in no_reviews %}
            <div class="review-per-cafe-wrapper">
                <ul>{{cafe.name}}</ul>
                <li>There are no reviews for this cafe.</li>
            </div>
        {% endfor %}
        </article>
    </section>
    <section class="bu-accounts-wrapper">
        <h3 class="bu-page-headers bu-accounts-header">Accounts Center</h3>
        <article class="pu-page-contents pu-accounts-contents">
            <span>Control settings for your account can be accessed here.</span>
        </article>
    </section>
</section>
{% endblock content %}
