{% extends "base.html" %}
{% block content %}
<section class="signup-container">
    <h2 class="signup-form-header">기업 회원가입:)</h2>
    <form action="{% url 'business_signup' %}" method="POST">
        {% csrf_token %}
        <div>
            <label for="signup-name">Name</label>
            <input type="text" id="signup-name" name="signup-name" placeholder="Enter your full name here.">
        </div>
        <div>
            <label for="signup-username">username</label>
            <input type="text" id="signup-username" name="signup-username" placeholder="Enter your username.">
        </div>
        <div>
            <label for="signup-email">email</label>
            <input type="email" id="signup-email" name="signup-email" placeholder="Enter your email.">
        </div>
        <div>
            <label for="signup-password">password</label>
            <input type="password" id="signup-password" name="signup-password" placeholder="Enter your password.">
        </div>
        <div >
            <label for="signup-password-check">password check</label>
            <input type="password" id="signup-password-check" name="signup-password-check" placeholder="Enter your password.">
        </div>
        <div>
            <label for="signup-registration-number">business registration number</label>
            <input type="number" id="signup-registration-number" name="signup-registration-number" placeholder="Enter your Business Registration Number.">
        </div>
        <button type="submit">Signup</button>
    </form>
</section>
{% endblock content %}