{% extends 'base.html' %}
{% block head%}
<title>카페 상세 | Dobby is Park</title>
{% load static %}
<link rel="stylesheet" href="{% static 'calendar.css' %}">
<script defer type="text/javascript" src="../static/src/calendar.js"></script>
{% endblock head %}
{% block content %}
{% include 'header-nav.html' %}

<section class="page-wrapper cafedetail-page-wrapper">
    <h2 class="visually-hidden">{{cafe.name}} Detail Page</h2>
    <section class="cafe-basics-container">
        <article class="cafe-info-wrapper">
            <h3>{{cafe.name}}</h3>
            <address class="cafe-address">
                <span>{{cafe.address}}</span>
            </address>
        </article>
        <article class="bookmark-wrapper">
            {% if request.user.personal_user %}
            <a href="{% url 'bookmark' cafe.pk %}">
                {% if is_bookmarked %}
                <i class="fas fa-bookmark fa-lg bookmarked"></i>
                {% else %}
                <i class="fas fa-bookmark fa-lg gray"></i>
                {% endif %}
            </a>
            {% endif %}
        </article>
    </section>
    <section class="cafedetail-information-wrapper">
        <article class="cafedetail-navigation-wrapper">
            <nav>
                <ul class="cafe-detail-nav">
                    <li>지점 소개</li>
                    <li>내부 모습</li>
                    <li>위치</li>
                    <li>후기</li>
                </ul>
            </nav>

            <section class="cafedetail-sections-wrapper">
                <article class="cafe-detail-wrapper cafe-wrapper">
                    <h3>지점소개</h3>
                    <article class="cafe-hours-wrapper">
                        <h4>이용 시간</h4>
                        <dl>
                            <dt>평일:</dt>
                            <dd>
                                <time datetime="{{cafe.business_hour_start}}">{{cafe.business_hour_start}}</time> ~ 
                                <time datetime="{{cafe.business_hour_end}}">{{cafe.business_hour_end}}</time>
                            </dd>
                            <dt>토요일:</dt>
                            <dd>
                                <time datetime="{{cafe.business_hour_start}}">{{cafe.business_hour_start}}</time> ~ 
                                <time datetime="{{cafe.business_hour_end}}">{{cafe.business_hour_end}}</time>
                            </dd>
                            <dt>일요일:</dt>
                            <dd>
                                <time datetime="{{cafe.business_hour_start}}">{{cafe.business_hour_start}}</time> ~ 
                                <time datetime="{{cafe.business_hour_end}}">{{cafe.business_hour_end}}</time>
                            </dd>
                            <dt>휴무일:</dt>
                            <dd>없음</dd>
                        </dl>
                    </article>
                    <article class="cafe-facilities-wrapper">
                        <h4>편의시설 및 서비스</h4>
                        <ul class="facility-items-wrapper">
                            {% if cafe.parking %}
                            <li class="facility-items">
                                <i class="fas fa-parking fa-2x"></i>
                            </li>
                            {% endif %}
                            {% if cafe.drinks %}
                            <li class="facility-items">
                                <i class="fas fa-coffee fa-2x"></i>
                            </li>
                            {% endif %}
                            {% if cafe.wifi %}
                            <li class="facility-items">
                                <i class="fas fa-wifi fa-2x"></i>
                            </li>
                            {% endif %}
                            {% if cafe.printer %}
                            <li class="facility-items">
                                <i class="fas fa-print fa-2x"></i>
                            </li>
                            {% endif %}
                            {% if cafe.security %}
                            <li class="facility-items">    
                                <img src="https://s3.ap-northeast-2.amazonaws.com/ones.cloud/images/2017/9/15/16/761549_1505459131213.png" alt="Icon for multi-security features on premise">
                            </li>
                            {% endif %}
                        </ul>
                    </article>
                </article>

                <article class="cafe-detail-wrapper gallery-wrapper">
                    <h3>내부 모습</h3>
                    <article class="cafe-images-wrapper">
                    {%for i in cafe_img%}
                        <img class="cafe-images" src="{{i.img}}" alt="{{i.name}}">
                    {% endfor %}
                    </article>
                </article>

                <article class="cafe-detail-wrapper location-wrapper">
                    <h3>위치</h3>
                    <div id="map"></div> 
                </article>

                <article class="cafe-detail-wrapper review-wrapper">
                    <h3>후기/별점</h3>
                    {% if is_reserv %}
                            <form action="{% url 'review' cafe.pk%}" method="POST">
                                {% csrf_token %}
                                <label class="visually-hidden" for="review">Review:</label>
                                <input type="text" id="review" name="review" placeholder="Share your experience here with other users!">
                                <button>Share review</button>
                            </form>
                            {% endif %}
                    <article class="review-contents-wrapper">
                        {% for review in reviews %}
                        <div class="user-review-wrapper">
                            <img src="{{review.writer.avatar}}" alt="Profile image of review writer">
                            <div class="user-review-profile-info">
                                <span>{{review.writer.name}}</span>
                                <span>{{review.created_at}}</span>
                            </div>
                            <div class="user-review-content">"{{review.content}}"</div>
                        </div>
                        {% empty %}
                        <div>Be the first to write a review!</div>
                        {% endfor %}
                        <div>
                        </div>
                    </article>
                </article>
                
            </section>
        
        </article>


        <article class="cafe-booking-wrapper">
        <h3>예약하기</h3>
        <div>
            <form class="booking-form-wrapper" action="{% url 'reservation' cafe.pk %}" method="POST">
                {% csrf_token %}
                <div class="booking-input-control date-picker">
                    <label for="date">예약 날짜:</label>
                    <input class="date-picker-selector" type="text" name="date" placeholder="날짜를 선택하세요">
                    <div class="calendar"></div>
                </div>
                <div class="booking-input-control">
                    <label for="start_time">시작 시간:</label>
                    <input type="text" id="start_time" name="start_time" placeholder="시작 시간을 입력하세요">
                </div>
                <div class="booking-input-control">
                    <label for="time">필요한 시간:</label>
                    <input type="text" id="time" name="time" placeholder="이용 시간을 입력하세요">
                </div>
                <div class="booking-input-control">
                    <label for="seat">좌석 수:</label>
                    <input type="text" id="seat" name="seat" placeholder="좌석을 선택하세요">
                </div>
                <button class="resev_bt" type="submit" onclick="return confirm('예약하시겠습니까?');">예약하기</button>
            </form>
        </div>
        </article>
    </section> 
</section>
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=c83c94a17ffac06dca220c2b969e1980"></script> 
<script> var container = document.getElementById('map'); //지도를 담을 영역의 DOM 레퍼런스 
var mapContainer = document.getElementById('map'), // 지도를 표시할 div 
    mapOption = { 
        center: new kakao.maps.LatLng(33.450701, 126.570667), // 지도의 중심좌표
        level: 3 // 지도의 확대 레벨
    };

var map = new kakao.maps.Map(mapContainer, mapOption); // 지도를 생성합니다

// 마커가 표시될 위치입니다 
var markerPosition  = new kakao.maps.LatLng(33.450701, 126.570667); 

// 마커를 생성합니다
var marker = new kakao.maps.Marker({
    position: markerPosition
});

// 마커가 지도 위에 표시되도록 설정합니다
marker.setMap(map);

// 아래 코드는 지도 위의 마커를 제거하는 코드입니다
// marker.setMap(null);    
</script>
{% endblock content %}