<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <ul><h1>Cafe List</h1></ul>
    {% for cafelist in cafelists %}
    <li>{{cafelist.name}}</li>
    <a href="{% url 'studycafe:cafedetail' cafelist.pk %}">
        <img src="{{cafelist.img}}" width="300px;" alt="{{cafelist.name}}">
    </a>
    {% endfor %}
</body>
</html>