<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <ul><h1>Cafe List</h1></ul>
    <h2>해당하는 지역의 리스트</h2>
    {% for cafelist in cafelists %}
    <li>카페 이름 : {{cafelist.name}}</li>
    <li>시간 당 가격 : {{cafelist.price_per_hour}}</li>
    <a href="{% url 'cafedetail' cafelist.pk %}">
        <img src="{{cafelist.img}}" width="250px;" alt="{{cafelist.name}}">
    </a>
    {% endfor %}
</body>
</html>