{% extends 'base.html' %}
{% block content %}
{% include 'header-nav.html' %}
<main>
<h2>Cafe Upload Page</h2>
<form action="{% url 'cafeupload' user.pk %}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="text" name="name" placeholder="카페 이름">
    <input type="text" name="address" placeholder="카페 주소">
    <input type="text" name="introduce" placeholder="카페 소개">
    <input type="text" name="price_per_hour" placeholder="시간 당 가격">
    <input type="text" name="business_hour_start" placeholder="영업 오픈 시간">
    <input type="text" name="business_hour_end" placeholder="영업 마감 시간">
    <input type="file" name="image" multiple>
    <button type="submit">업로드</button>
</form>
</main>
{% endblock content%}