{% extends 'base.html' %} 
{% block head %}
<title>카페 | Dobby is Park</title>
{% endblock head %}
{% block content %}
{% include 'header-nav.html' %}
<main class="page-wrapper cafe-list-wrapper">
    <h1 class="visually-hidden">Cafe List</h1>
    <article class="cafe-list">
    {% for cafelist in cafelists %}
    <ul class="cafe-items">
        <a href="{% url 'cafedetail' cafelist.pk %}">
            <ul class="cafe-display-info">
                <li>카페 이름 : {{cafelist.name}}</li> 
                <li>시간 당 가격 : {{cafelist.price_per_hour}}원</li>
                <li>클릭하세요</li>
            </ul>
            <img src="{{cafelist.representative_img}}" alt="{{cafelist.name}}">
        </a>
    </ul>
    {% endfor %}
    </article>
</main>
{% endblock content%}