<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <ul><h1>Cafe Detail</h1></ul>
    <li>{{cafe.name}}</li>
    <img src="{{cafe.img}}" alt="cafe.name" width="250px;">
    <p>주소 : {{cafe.address}}</p>
    <p>시간당 가격 : {{cafe.price_per_hour}}</p>
    <p>오픈 시간 : {{cafe.business_hour_start}}</p>
    <p>마감 시간 : {{cafe.business_hour_end}}</p>
</body>
</html>