{% extends 'base.html' %}
{% block content %}
{% include 'header-nav.html' %}

<main>
<h2>Cafe Edit</h2>
    <form action="{% url 'cafeedit' cafe.pk %}" method="POST">
        {% csrf_token %}
        <input type="text" name="name" placeholder="카페 이름" value="{{cafe.name}}">
        <input type="text" name="address" placeholder="카페 주소" value="{{cafe.address}}">
        <input type="text" name="price_per_hour" placeholder="시간 당 가격" value="{{cafe.price_per_hour}}">
        <input type="text" name="business_hour_start" placeholder="영업 오픈 시간" value="{{cafe.business_hour_start}}">
        <input type="text" name="business_hour_end" placeholder="영업 마감 시간" value="{{cafe.business_hour_end}}">
        <input type="file" name="image" multiple value="{{cafe.img}}">
        <img src="{{cafe.img}}" alt="cafe.name" width="250px;">
        <button type="submit">수정하기</button>
    </form>
</main>
{% endblock content%}