{% if user.is_authenticated %}
<header class="header-container">
    <section class="header-wrapper">
        <h1>박도비팀 프로젝트</h1>
        <form class="search-form">
            <fieldset>
                <legend class="visually-hidden">Search form</legend>
                <div class="search-form">
                    <label for="searchInput" class="visually-hidden">search input</label>
                    <input name="searchInput" id="searchInput" type="text" placeholder="스터디 카페 검색하기"/>
                </div>
            </fieldset>
        </form>
        <section class="mobile-menu">
            <button>
                <i id="mobile-menu" class="fas fa-bars"></i>
            </button>
            <div class="header-nav-menu-container">
                <ul class="header-nav-menu-list">
                    {% if user.business_user %}
                        <li><a href="{% url 'BUprofile' user.pk %}" role="button">마이페이지</a></li>
                        <li><a href="{% url 'logout' %}">로그아웃</a></li>
                    {% elif user.personal_user %}
                        <li><a href="{% url 'PUprofile' user.pk %}" role="button">마이페이지</a></li>
                        <li><a href="#" role="button">예약확인</a></li>
                        {% if request.user.personal_user.unique_id %}
                        <li><a href="{% url 'kakao_logout' %}">카카오 로그아웃</a></li>
                        {% else %}
                        <li><a href="{% url 'logout' %}">로그아웃</a></li>
                        {% endif %}
                    {% endif %}
                </ul>
            </div>
        </section>
    </section>
</header>
{% elif user.is_anonymous %}
<header class="header-container">
    <section class="header-wrapper">
        <h1>박도비팀 프로젝트</h1>
        <form class="search-form">
            <fieldset>
                <legend class="visually-hidden">Search form</legend>
                <div class="search-form">
                    <label for="searchInput" class="visually-hidden">search input</label>
                    <input name="searchInput" id="searchInput" type="text" placeholder="스터디 카페 검색하기"/>
                </div>
            </fieldset>
        </form>

        <section class="mobile-menu">
            <button>
                <i id="mobile-menu" class="fas fa-bars"></i>
            </button>
            <div class="header-nav-menu-container">
                <ul class="header-nav-menu-list">
                    <li><a href="{% url 'personal_signup' %}" role="button" class="popup-button">개인회원가입</a></li>
                    <li><a href="{% url 'business_signup' %}" role="button" class="popup-button">기업회원가입</a></li>
                    <li><a href="{% url 'login' %}" role="button" class="popup-button">로그인</a></li>
                </ul>
            </div>
        </section>
    </section>
</header>
{% endif %}
