{% if user.is_authenticated %}
<header class="header-container">
    <section class="header-wrapper">
        <h1><a href="{% url 'index' %}">dobby is park</a></h1>
        <form class="search-form">
            <fieldset>
                <legend class="visually-hidden">Search form</legend>
                <div class="search-form">
                    <label for="searchInput" class="visually-hidden">search input</label>
                    <input name="searchInput" id="searchInput" type="text" placeholder="search here for freedom"/>
                </div>
            </fieldset>
        </form>
        <section class="mobile-menu">
            <div class="logged-in-user-status">
                {% if user.business_user %}
                Logged in as {{user.business_user.name}}
                {% elif user.personal_user %}
                Logged in as {{user.personal_user.name}}
                {% endif %}
            </div>
            <button id="mobile-menu">
                <i class="fas fa-bars"></i>
                <img id="mobile-menu-profile-img" src="http://k.kakaocdn.net/dn/ynT4Z/btq2Mcevprt/HQxayK5n6oDPfsHzZRGg41/img_640x640.jpg" alt="User profile photo">
            </button>
            <div class="header-nav-menu-container">
                <ul class="header-nav-menu-list">
                    {% if user.business_user %}
                        <li><a href="{% url 'BUprofile' user.pk %}" role="button">My Page</a></li>
                        <li><a href="{% url 'logout' %}">Logout</a></li>
                    {% elif user.personal_user %}
                        <li><a href="{% url 'PUprofile' user.username %}" role="button">My Page</a></li>
                        <li><a href="#" role="button">Reservations</a></li>
                        {% if request.user.personal_user.unique_id %}
                        <li><a href="{% url 'kakao_logout' %}">Logout</a></li>
                        {% else %}
                        <li><a href="{% url 'logout' %}">Logout</a></li>
                        {% endif %}
                    {% endif %}
                </ul>
            </div>
        </section>
    </section>
</header>
{% elif user.is_anonymous %}
<header class="header-container">
    <section class="header-wrapper">
        <h1><a href="{% url 'index' %}">Doby is Park</a></h1>
        <form class="search-form">
            <fieldset>
                <legend class="visually-hidden">Search form</legend>
                <div class="search-form">
                    <label for="searchInput" class="visually-hidden">search input</label>
                    <input name="searchInput" id="searchInput" type="text" placeholder="search here for freedom"/>
                </div>
            </fieldset>
        </form>

        <section class="mobile-menu">
            <button id="mobile-menu">
                <i class="fas fa-bars"></i>
                <img id="mobile-menu-profile-img" src="http://k.kakaocdn.net/dn/ynT4Z/btq2Mcevprt/HQxayK5n6oDPfsHzZRGg41/img_640x640.jpg" alt="User profile photo">
            </button>
            <div class="header-nav-menu-container">
                <ul class="header-nav-menu-list">
                    <li><a href="{% url 'personal_signup' %}" role="button" class="popup-button">User Signup</a></li>
                    <li><a href="{% url 'business_signup' %}" role="button" class="popup-button">Business Signup</a></li>
                    <li><a href="{% url 'login' %}" role="button" class="popup-button">Login</a></li>
                </ul>
            </div>
        </section>
    </section>
</header>
{% endif %}
