{% extends "base.html" %}
{% block head %}
{% load static %}
{% load socialaccount %}
{% providers_media_js %}
<!-- javascript link -->
<script defer src="#"></script>
{% endblock head %}

{% block content %}
{% include 'header-nav.html' %}
<section class="IdPwSearch-container">
    <h2 class="IdPwSearch-header">Find missing Id/Pw </h2>
        
    <h3 class="idsearch-tab"> Id Search </h3>
    <form action="{% url 'IdSearch' %}" method="POST">
        {% csrf_token %}
        <div>
            <label for="validation-email1">Registered Email</label>
            <input type="text" id="validation-email1" name="validation-email1" placeholder="Enter your email here.">
        </div>
        <button type="submit">submit</button>
    </form>

    <h3 class="pwsearch-tab"> Pw Search</h3>
    <form action="{% url 'PwSearch' %}" method="POST">
        {% csrf_token %}
        <div>
            <label for="validation-email2">Registered Email</label>
            <input type="text" id="validation-email2" name="validation-email2" placeholder="Enter your email here.">
        </div>
        <div>
            <label for="validation-id">username</label>
            <input type="text" id="validation-id" name="validation-id" placeholder="Enter your username here.">
        </div>
        <button type="submit">submit</button>
    </form>


</section>
{% endblock content %}