{% extends 'base.html' %}
{% block content %}
{% include 'header-nav.html' %}
<main>
    <section class="visual-wrapper">
        <h2 class="visually-hidden" >Doby is Park Welcome Image</h2>
    </section>
    <section class="page-wrapper index-page-wrapper recommend-cafe-wrapper">
        <h2>Recommended just for you</h2>
        <ul class="index-cafe-list recommend-cafe-list">
            {% for cafelist in cafelists %}
            <li class="cafe-item-wrapper">
                <a href="{% url 'cafedetail' cafelist.pk %}">
                <img src="{{cafelist.img}}" width="250px;" alt="{{cafelist.name}}">
                <ul class="cafe-info-details">
                    <li>{{cafelist.name}}</li>
                </ul>
                </a>
            </li>
            {% endfor %}
        </ul>
    </section>
    <section class="page-wrapper index-page-wrapper nearby-cafe-wrapper">
        <h2>Explore nearby</h2>




    </section>
    <section class="page-wrapper index-page-wrapper visited-cafe-wrapper">
        <h2>Visited Study Cafes</h2>




    </section>
</main>

{% endblock content %}