{% extends "base.html" %}
{% block content %}
{% include 'header-nav.html' %}


<h1>메인 인덱스 페이지</h1>
{% if personal.user.is_authenticated %}
    <h2>LOGGED IN!!! </h2>

    <form action="{% url 'logout' %}" method="POST">
        {% csrf_token %}
        <button type="submit">로그아웃</button>
    </form>
    {{user.username}} 님이 로그인 중


    <a href="{% url 'BUprofile' user.pk %}">마이페이지</a><br>
    <a href="{% url 'cafelist' %}">카페 리스트 보기</a>

{% else %}
    {% load socialaccount %}
    {% providers_media_js %}
    <section>
        <h2>로그인 페이지:)</h2>
            <form  action="{% url 'login' %}" method="POST">
                {% csrf_token %}
                <label for="login-name">username</label>
                <input type="text" id="login-name" name="login-name" placeholder="Enter your username.">
                <label for="login-password">password</label>
                <input type="password" id="login-password" name="login-password" placeholder="Enter your password.">
                <button type="submit">Login</button>
            </form>
            <br>
            <a href="{% provider_login_url 'kakao' method='oauth2' %}"><i class="fas fa-comment mr-2"></i>카카오 로그인</a>
            <br>
            <a href="{% provider_login_url 'google' %}"><i class="fab fa-google"></i>구글 로그인</a>
    </section>
    <section>
        <h2>개인 회원가입 페이지:)</h2>
            <form action="{% url 'personal_signup' %}" method="POST">
                {% csrf_token %}
                <div>
                    <label for="signup-name">username</label>
                    <input type="text" id="signup-name" name="signup-username" placeholder="Enter your username.">
                </div>
                <div>
                    <label for="signup-email">email</label>
                    <input type="text" id="signup-email" name="signup-email" placeholder="Enter your email.">
                </div>
                <div>
                    <label for="signup-password">password</label>
                    <input type="password" id="signup-password" name="signup-password" placeholder="Enter your password.">
                </div>
                <div>
                    <label for="signup-password-check">password check</label>
                    <input type="password" id="signup-password-check" name="signup-password-check" placeholder="Enter your password.">
                </div>
                <div>
                    <label for="signup-fullname">full name</label>
                    <input type="text" id="signup-fullname" name="signup-fullname" placeholder="Enter your full name.">
                </div>
                <button type="submit">Signup</button>
            </form>
    </section>
    <section>
        <h2>기업 회원가입:)</h2>
            <form action="{% url 'business_signup' %}" method="POST">
                {% csrf_token %}
                <div>
                    <label for="signup-name">username</label>
                    <input type="text" id="signup-name" name="signup-name" placeholder="Enter your username.">
                </div>
                <div>
                    <label for="signup-email">email</label>
                    <input type="text" id="signup-email" name="signup-email" placeholder="Enter your email.">
                </div>
                <div>
                    <label for="signup-password">password</label>
                    <input type="password" id="signup-password" name="signup-password" placeholder="Enter your password.">
                </div>
                <div >
                    <label class="a11y-hidden" for="signup-password-check">password check</label>
                    <input type="password" id="signup-password-check" name="signup-password-check" placeholder="Enter your password.">
                </div>
                <div>
                    <label for="signup-fullname">full name</label>
                    <input type="text" id="signup-fullname" name="signup-fullname" placeholder="Enter your full name.">
                </div>
                <div>
                    <label for="signup-business">business registration number</label>
                    <input type="text" id="signup-business" name="signup-business" placeholder="Enter your Business Registration Number.">
                </div>
                <button type="submit">Signup</button>
            </form>
    </section>
{% endif %}
{% endblock content %}