{% extends 'base.html' %}
{% block content %}
{% include 'header-nav.html' %}
<main class="main-container">
    <section class="visual-wrapper"></section>
    <section class="cafe-wrapper">
        <h2>요즘 뜨고 있는 스터디 카페</h2>
        <ul class="cafe-content-list">

            {% for cafelist in cafelists %}

            <li>
                <a href="{% url 'cafedetail' cafelist.pk %}">
                    <img src="{{cafelist.img}}" width="250px;" alt="{{cafelist.name}}">
                <ul>
                    <li>카페 이름 : {{cafelist.name}}</li>
                    <li>시간 당 가격 : {{cafelist.price_per_hour}}</li>
                </ul>
                </a>

            </li>
        </ul>
        {% endfor %}
    </section>
</main>
{% endblock content %}