{% extends "base.html" %}
{% block head %}
{% load static %}
{% load socialaccount %}
{% providers_media_js %}
<!-- javascript link -->
<script defer src="{% static 'login.js' %}"></script>
{% endblock head %}

{% block content %}
{% include 'header-nav.html' %}
<section class="container">
    <!-- 모달창 뒷배경 modal window background body overlay -->
    <div class="body-blackout"></div>
    <!-- 모달창 컨텐츠 (로그인양식과 회원가입링크) -->
    <section class="auth-popup">
        <i class="fas fa-window-close popup-modal__close"></i>
        <h2 class="auth-popup-header">Login or Signup</h2>
            <form class="auth-form" action="{% url 'login' %}" method="POST" novalidate>
                {% csrf_token %}
                <div class="form-control">
                    <label class="visually-hidden" for="login-name">username</label>
                    <input class="auth-items auth-items-username" type="text" id="login-name" name="login-name" placeholder="Enter your username.">
                    {% if error.state %}
                    <small>{{ error.msg }}</small>
                    {% endif %}
                </div>
                <div class="form-control">
                    <label class="visually-hidden" for="login-password">password</label>
                    <input class="auth-items auth-items-password" type="password" id="login-password" name="login-password" placeholder="Enter your password.">
                    {% if error.state %}
                    <small>{{ error.msg }}</small>
                    {% endif %}
                </div>
                <button type="submit">LOGIN</button>
            </form>
            <article class="social-login-container">
                <a href="{% url 'kakao_login' %}"><i class="fas fa-comment mr-2"></i>카카오 로그인</a>
                <a href="{% provider_login_url 'google' %}"><i class="fab fa-google"></i>구글 로그인</a>
            </article>
    </section>
</section>
{% endblock content%}