{% extends 'base.html' %}
{% block content %}
{% include 'header-nav.html' %}
<section class="signup-container">
    <h2 class="signup-form-header">Personal User Signup</h2>
    <form action="{% url 'personal_signup' %}" method="POST">
        {% csrf_token %}
        <div>
            <label for="signup-name">Name</label>
            <input type="text" id="signup-name" name="signup-name" placeholder="Enter your full name here.">
        </div>
        <div>
            <label for="signup-username">username</label>
            <input type="text" id="signup-username" name="signup-username" placeholder="Enter your username.">
        </div>
        <div>
            <label for="signup-email">email</label>
            <input type="email" id="signup-email" name="signup-email" placeholder="Enter your email.">
        </div>
        <div>
            <label for="signup-password">password</label>
            <input type="password" id="signup-password" name="signup-password" placeholder="Enter your password.">
        </div>
        <div>
            <label for="signup-password-check">password check</label>
            <input type="password" id="signup-password-check" name="signup-password-check" placeholder="Enter your password.">
        </div>
        <button type="submit">Signup</button>
    </form>
</section>
{% endblock content %}