{% extends 'base.html' %}
{% block head %}
<title>프로필페이지 | Dobby is Park</title>
<!-- javascript link -->
<script defer src="../static/src/pu_profile.js"></script>
{% endblock head%}
{% block content %}
{% include 'header-nav.html' %}

<main class="page-wrapper pu-mypage-container">
    <h2 class="visually-hidden">{{user.personal_user.name}}의 프로필 페이지</h2>
    <section class="pu-profile-wrapper">
        <h3 class="pu-page-headers pu-tab-option pu-profile-header selected">프로필 편집<h3>
        <article class="pu-page-contents pu-profile-contents ">
            <div class="user-profile-info-wrapper ">
                <span>{{user.username}}</span>
                <label for="profile-image">
                    <img class="profile-photo" id="change-photo" for="profile-image" src="{{user.personal_user.avatar}}" alt="Change profile photo">
                </label>
            </div>
            <form class="user-profile-edit-form" action="{% url 'personal_profile_edit' user.username %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="pu-edit-control">
                    <label for="profile-image">
                        프로필 사진 바꾸기
                    </label>
                    <input class="visually-hidden" type="file" id="profile-image" name="profile-image">
                </div>
                <div class="pu-edit-control">
                    <label for="profile-name">이름</label>
                    <input type="text" id="profile-name" name="profile-name" placeholder="Name" value={{request.user.personal_user.name}}>
                </div>
                <div class="pu-edit-control">
                    <label for="profile-username">사용자 이름</label>
                    <input type="text" id="profile-username" name="profile-username" placeholder="Username" value={{user.username}}>
                </div>
                <div class="pu-edit-control">
                    <label for="profile-email">이메일</label>
                    <input type="email" id="profile-email" name="profile-email" placeholder="Email" value={{user.email}}>
                </div>
                <div class="pu-edit-control">
                    <button class="pu-edit-submit disabled" type="submit">제출</button>
                </div>
            </form>
            <div class="status-msg">
                {% if profile.updated %}
                    {{profile.msg}}
                {% endif %}
            </div>
        </article>
    </section>
    <section class="pu-password-wrapper">
        <h3 class="pu-page-headers pu-tab-option pu-password-header">비밀번호 변경<h3>
        <article class="pu-page-contents pu-password-contents visually-hidden">
            <div class="user-profile-info-wrapper password-tab">
                <span>{{user.username}}</span>
                <img class="profile-photo" id="profile-pw-photo"  src="{{user.personal_user.avatar}}" alt="Your profile photo">
            </div>
            <form class="user-password-edit-form" action="{% url 'personal_password_edit' user.username %}" method="POST">
                {% csrf_token %}
                <div class="pu-edit-control">
                    <label for="profile-password">새 비밀번호</label>
                    <input type="password" id="profile-password" name="profile-password">
                </div>
                <div class="pu-edit-control">
                    <label for="profile-password-check">새 비밀번호 확인</label>
                    <input type="password" id="profile-password-check" name="profile-password-check">
                </div>
                <small class="error-msg">
                    {% if error.state %}
                    {{ error.msg }}
                    {% endif %}
                </small>
                <div class="pu-edit-control">
                    <button class="pu-edit-submit" type="submit">비밀번호 변경</button>
                </div>
            </form>
        </article>
    </section>
    <section class="pu-reservations-wrapper">
        <h3 class="pu-page-headers pu-tab-option pu-reservations-header">예약 확인</h3>
        <article class="pu-page-contents pu-reservations-contents visually-hidden">
            <ul class="reservations-list">
                {% for i in reserv %}
                <li class="reservation-item-wrapper">
                    <img src="{{i.studycafe.representative_img}}" alt="Image of {{i.studycafe.name}}">
                    <ul class="reservation-item-detail">
                        <li>카페 이름 : {{i.studycafe}}</li>
                        <li>날짜 : {{i.date.content}}</li>
                        <li>시작시간 : {{i.hours.start_time}}시</li>
                        <li>종료시간 : {{i.hours.end_time}}시</li>
                        <li>좌석 : {{i.seat}}</li>
                    </ul>
                </li>
                {% if forloop.last %}
                <li class="reservation-item-wrapper">
                    <a href="{% url 'cafelist' %}">
                        <img src="https://django-s3-cj.s3.ap-northeast-2.amazonaws.com/addCafeImage.png"  alt="Link to browse cafes">
                        <ul class="reservation-item-detail">
                            <li>카페 둘러보기</li>
                            <li>더 많은 카페 둘러보려면 여기를 클릭하세요!</li>
                        </ul>
                    </a>
                </li>
            {% endif %}    
                {%endfor%}
            </ul>
        </article>
    </section>
    <section class="pu-bookmarked-wrapper">
        <h3 class="pu-page-headers pu-tab-option pu-bookmarked-header">저장한 카페</h3>
        <article class="pu-page-contents pu-bookmarked-contents visually-hidden">
            <ul class="bookmarked-cafe-list">
            {% for cafe in bookmarked %}
                <li class="bookmarked-cafe-item-wrapper">
                    <a href="{% url 'cafedetail' cafe.pk %}">
                        <img src="{{cafe.studycafe.representative_img}}" alt="{{cafe.studycafe.name}}">
                        <ul class="bookmarked-cafe-item-desc">
                            <li>{{cafe.studycafe.name}}</li>
                            <li>{{cafe.studycafe.address}}</li>
                        </ul>
                    </a>
                </li>
            {% if forloop.last %}
                <li class="bookmarked-cafe-item-wrapper">
                    <a href="{% url 'cafelist' %}">
                        <img src="https://django-s3-cj.s3.ap-northeast-2.amazonaws.com/addCafeImage.png"  alt="Link to browse cafes">
                        <ul class="bookmarked-cafe-item-desc">
                            <li>카페 둘러보기</li>
                            <li>더 많은 카페 둘러보려면 여기를 클릭하세요!</li>
                        </ul>
                    </a>
                </li>
            {% endif %}    
            {% empty %}
                <li class="bookmarked-cafe-item-wrapper">
                    <a href="{% url 'cafelist' %}">
                        <img src="https://django-s3-cj.s3.ap-northeast-2.amazonaws.com/addCafeImage.png"  alt="Link to browse cafes">
                        <ul class="bookmarked-cafe-item-desc">
                            <li>카페 둘러보기</li>
                            <li>더 많은 카페 둘러보려면 여기를 클릭하세요!</li>
                        </ul>
                    </a>
                </li>
            {% endfor%}
            </ul>
        </article>
    </section>
    <section class="pu-accounts-wrapper">
        <h3 class="pu-page-headers pu-accounts-header">계정 센터</h3>
        <article class="pu-page-contents pu-accounts-contents">
            <span>프로필 설정을 관리하세요.</span>
        </article>
    </section>
</section>


{% endblock content %}
